/* esto no me funciona, tuve que declarar style en el html directamente */
.title {
    padding-left: 5rem;
}

.serviciosEstilos{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.card{
    margin: 1rem auto;
    
}