/* esto no me funciona, tuve que declarar style en el html directamente */
.title {
    padding-left: 5rem;
}

.button {
    display:flex;
    justify-content: center;
    padding: 1rem;
}

.buttonpaquete {
    display:flex;
    padding: 1rem;
}

.img {
    position:relative;
}

.btn {
    background-color: azure;
}