<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/mpstyle.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navb__color">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="./Catalogo.html">Catalogo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="../Views/ConsultarPrecios.html">Precios</a>
                </li>
              </ul>
            </div>
          </nav>
    </header>
    <main>
        <section class="container-fluid">
            <div class="row" style="background-color: #d3bdb0">
                <h1> Escoge un paquete y ahorra 10% </h1>
                <h2> PAQUETE 1 </h2>
                <div class="buttonpaquete">
                    <button type="button" class="btn"><a href="#">AGREGAR POR $103.50</a></button>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                <h3>Cabello</h3>
                    <img src="../Assets/Servicio cabello.jpg" class="img-fluid" style= "height: 400px; width:400px">
                    <div class="button">
                        <button type="button" class="btn"><a href="#">AGREGAR POR $25</a></button>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                <h3>Facial</h3>
                <img src="../Assets/Servicio facial.jpg" class="img-fluid" style= "height: 400px; width:400px">
                <div class="button">
                    <button type="button" class="btn"><a href="#">AGREGAR POR $40</a></button>
                </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                <h3>Maquillaje</h3>
                <img src="../Assets/Servicio makeup.jpg" class="img-fluid" style= "height: 400px; width:400px">
                <div class="button">
                    <button type="button" class="btn"><a href="#">AGREGAR POR $30</a></button>
                </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                <h3> Manicure</h3>
                <img src="../Assets/Servicio manos.jpg" class="img-fluid" style= "height: 400px; width:400px">
                <div class="button">
                    <button type="button" class="btn"><a href="#">AGREGAR POR $20</a></button>
                </div>
                </div>
            </div>
            <div class="row" style="background-color: #d3bdb0; padding-top: 3rem;" >
                <h2> PAQUETE 2 </h2>
                <div class="buttonpaquete">
                    <button type="button" class="btn"><a href="#">AGREGAR POR $90.90</a></button>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                <h3>Reiki</h3>
                    <img src="../Assets/Servicio reiki.jpg" class="img-fluid" style= "height: 400px; width:400px">
                    <div class="button">
                        <button type="button" class="btn"><a href="#">AGREGAR POR $28</a></button>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                <h3>Sastre</h3>
                <img src="../Assets/Servicio sastre.jpg" class="img-fluid" style= "height: 400px; width:400px">
                <div class="button">
                    <button type="button" class="btn"><a href="#">AGREGAR POR $21</a></button>
                </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                <h3>Acupuntura</h3>
                <img src="../Assets/Servicio acupuntura.jpg" class="img-fluid" style= "height: 400px; width:400px">
                <div class="button">
                    <button type="button" class="btn"><a href="#">AGREGAR POR $19</a></button>
                </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                <h3> Tibetano</h3>
                <img src="../Assets/Servicio tibetan.jpg" class="img-fluid" style= "height: 400px; width:400px">
                <div class="button">
                    <button type="button" class="btn"><a href="#">AGREGAR POR $33</a></button>
                </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        FOOTER
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="../javascript/catalogo.js"></script>
</body>
</html>
