<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Precios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/mpstyle.css">
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navb__color">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="../Views/Catalogo.html">Catalogo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="../Views/ConsultarPrecios.html">Precios</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <main>
    <section class="container-fluid">
      <div class="row" style="background-color: #d3bdb0">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Servicio</th>
              <th scope="col">Precio</th>
              <th scope="col">Paquete de Descuento</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row" class="listaServicio">Cabello</th>
              <td>$25</td>
              <td>Paquete 1</td>
            </tr>
            <tr>
              <th scope="row" class="listaServicio">Facial</th>
              <td>$40</td>
              <td>Paquete 1</td>
            </tr>
            <tr>
              <th scope="row" class="listaServicio">Maquillaje</th>
              <td>$30</td>
              <td>Paquete 1</td>
            </tr>
            <tr>
              <th scope="row" class="listaServicio">Manicure</th>
              <td>$20</td>
              <td>Paquete 1</td>
            </tr>
            <tr>
              <th scope="row" class="listaServicio">Reiki</th>
              <td>$28</td>
              <td>Paquete 2</td>
            </tr>
            <tr>
              <th scope="row" class="listaServicio">Sastre</th>
              <td>$21</td>
              <td>Paquete 2</td>
            </tr>
            <tr>
              <th scope="row" class="listaServicio">Acupuntura</th>
              <td>$19</td>
              <td>Paquete 2</td>
            </tr>
            <tr>
              <th scope="row" class="listaServicio">Tibetano</th>
              <td>$33</td>
              <td>Paquete 2</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <h2>Por paquetes</h2>
      </div>
      <div class="row">
        <h3 class="infoPaquete"> paquete 1</h3>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Servicio</th>
              <th scope="col">Precio</th>
            </tr>
          </thead>
          <thead class="thead-dark">
            <tr>
              <th scope="row" class="listaServicio">Cabello</th>
              <td>$22.5</td>
            </tr>
            <tr>
              <th scope="row" class="listaServicio">Facial</th>
              <td>$36</td>
            </tr>
            <tr>
              <th scope="row" class="listaServicio">Maquillaje</th>
              <td>$27</td>
            </tr>
            <tr>
              <th scope="row" class="listaServicio">Manicure</th>
              <td>$18</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <h3 class="infoPaquete"> paquete 2</h3>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Servicio</th>
              <th scope="col">Precio</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row" class="listaServicio">Reiki</th>
              <td>$25.2</td>
            </tr>
            <tr>
              <th scope="row" class="listaServicio">Sastre</th>
              <td>$18.9</td>
            </tr>
            <tr>
              <th scope="row" class="listaServicio">Acupuntura</th>
              <td>$17.1</td>
            </tr>
            <tr>
              <th scope="row" class="listaServicio">Tibetano</th>
              <td>$29.7</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </main>      
  <footer>
    FOOTER
  </footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src="../javascript/precios.js"></script>
</body>
</html>
